In [2]:
import pandas as pd
import numpy as np

r_cols = ['user_id', 'movie_id', 'rating']
ratings = pd.read_csv('C:\\Users\\Onur\\Desktop\\ml-100k\\u.data', sep='\t', names=r_cols, usecols=range(3), encoding="ISO-8859-1")

m_cols = ['movie_id', 'title']
movies = pd.read_csv('C:\\Users\\Onur\\Desktop\\ml-100k\\u.item', sep='|', names=m_cols, usecols=range(2), encoding="ISO-8859-1")

ratings = pd.merge(movies, ratings)

ratings.head(10)

   movie_id             title  user_id  rating
0         1  Toy Story (1995)      308       4
1         1  Toy Story (1995)      287       5
2         1  Toy Story (1995)      148       4
3         1  Toy Story (1995)      280       4
4         1  Toy Story (1995)       66       3
5         1  Toy Story (1995)        5       4
6         1  Toy Story (1995)      109       4
7         1  Toy Story (1995)      181       3
8         1  Toy Story (1995)       95       5
9         1  Toy Story (1995)      268       3

In [3]:
userRatings = ratings.pivot_table(index=['user_id'],columns=['title'],values='rating')
userRatings.head(100)

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,2.0,NaN,NaN,NaN,NaN,4.0,NaN,NaN,...,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,4.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,...,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
corrMatrix = userRatings.corr(method='pearson', min_periods=200)
corrMatrix.head()

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
title,,,,,,,,,,,,,,,,,,,,,
'Til There Was You (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1-900 (1994),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101 Dalmatians (1996),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12 Angry Men (1957),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
187 (1997),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
myRatings = userRatings.loc[32].dropna()
myRatings

title
Austin Powers: International Man of Mystery (1997)    4.0
Beavis and Butt-head Do America (1996)                2.0
Cable Guy, The (1996)                                 2.0
Chasing Amy (1997)                                    4.5
Close Shave, A (1995)                                 3.0
Con Air (1997)                                        1.0
Dead Man Walking (1995)                               3.0
Devil's Advocate, The (1997)                          2.0
Devil's Own, The (1997)                               2.0
Face/Off (1997)                                       5.0
Fargo (1996)                                          3.0
Fathers' Day (1997)                                   3.0
Fierce Creatures (1997)                               3.0
Fifth Element, The (1997)                             4.0
George of the Jungle (1997)                           2.0
Grosse Pointe Blank (1997)                            4.0
Jackie Chan's First Strike (1996)                     2.0
Leaving Las Vegas (1995)                              4.0
Liar Liar (1997)                                      3.0
Mars Attacks! (1996)                                  3.0
Men in Black (1997)                                   4.0
Michael (1996)                                        3.0
Mission: Impossible (1996)                            4.0
People vs. Larry Flynt, The (1996)                    4.0
Primal Fear (1996)                                    3.0
Private Parts (1997)                                  4.0
Ransom (1996)                                         3.0
Return of the Jedi (1983)                             4.0
Rock, The (1996)                                      3.0
Scream (1996)                                         4.0
Sleepers (1996)                                       4.0
Star Trek: First Contact (1996)                       3.0
Star Wars (1977)                                      4.0
Starship Troopers (1997)                              3.0
Titanic (1997)                                        4.0
Trainspotting (1996)                                  5.0
Truth About Cats & Dogs, The (1996)                   3.0
Twelve Monkeys (1995)                                 4.0
Twister (1996)                                        3.0
Willy Wonka and the Chocolate Factory (1971)          3.0
Name: 32, dtype: float64

In [7]:
simCandidates = pd.Series()
for i in range(0, len(myRatings.index)):
    print ("Adding sims for " + myRatings.index[i] + "...")
    sims = corrMatrix[myRatings.index[i]].dropna()
    sims = sims.map(lambda x: x * myRatings[i])
    simCandidates = simCandidates.append(sims)
    
print ("sorting...")
simCandidates.sort_values(inplace = True, ascending = False)
simCandidates = simCandidates.groupby(simCandidates.index).sum()
simCandidates.sort_values(inplace = True, ascending = False)
simCandidates.head(10)

Adding sims for Austin Powers: International Man of Mystery (1997)...
Adding sims for Beavis and Butt-head Do America (1996)...
Adding sims for Cable Guy, The (1996)...
Adding sims for Chasing Amy (1997)...
Adding sims for Close Shave, A (1995)...
Adding sims for Con Air (1997)...
Adding sims for Dead Man Walking (1995)...
Adding sims for Devil's Advocate, The (1997)...
Adding sims for Devil's Own, The (1997)...
Adding sims for Face/Off (1997)...
Adding sims for Fargo (1996)...
Adding sims for Fathers' Day (1997)...
Adding sims for Fierce Creatures (1997)...
Adding sims for Fifth Element, The (1997)...
Adding sims for George of the Jungle (1997)...
Adding sims for Grosse Pointe Blank (1997)...
Adding sims for Jackie Chan's First Strike (1996)...
Adding sims for Leaving Las Vegas (1995)...
Adding sims for Liar Liar (1997)...
Adding sims for Mars Attacks! (1996)...
Adding sims for Men in Black (1997)...
Adding sims for Michael (1996)...
Adding sims for Mission: Impossible (1996)...
Adding sims for People vs. Larry Flynt, The (1996)...
Adding sims for Primal Fear (1996)...
Adding sims for Private Parts (1997)...
Adding sims for Ransom (1996)...
Adding sims for Return of the Jedi (1983)...
Adding sims for Rock, The (1996)...
Adding sims for Scream (1996)...
Adding sims for Sleepers (1996)...
Adding sims for Star Trek: First Contact (1996)...
Adding sims for Star Wars (1977)...
Adding sims for Starship Troopers (1997)...
Adding sims for Titanic (1997)...
Adding sims for Trainspotting (1996)...
Adding sims for Truth About Cats & Dogs, The (1996)...
Adding sims for Twelve Monkeys (1995)...
Adding sims for Twister (1996)...
Adding sims for Willy Wonka and the Chocolate Factory (1971)...
sorting...

Return of the Jedi (1983)          13.416003
Star Wars (1977)                   12.031145
Independence Day (ID4) (1996)      11.643066
Rock, The (1996)                   11.232763
Mission: Impossible (1996)         11.027019
Toy Story (1995)                   10.385693
Star Trek: First Contact (1996)     9.534651
Raiders of the Lost Ark (1981)      8.842114
Liar Liar (1997)                    8.643412
Empire Strikes Back, The (1980)     8.492186
dtype: float64